@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
#root {
  max-width: 1280px;
  background-image: url(./assets/cal.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media only screen and (max-width: 767px) {
  .logo {
    display:none;
  }
  .container {
    width: 100% !important;
  }
}

@media (prefers-reduced-motion: no-preference) {
  .logo.react {
    animation: logo-spin infinite 60s linear;
  }
}

.logo.motoko:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

.logo.discord:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
  border-radius: 20%;
}

.logo.discord {
  border-radius: 40%;
}

@keyframes logo-swim {
  from {
    transform: rotate(4deg) translateY(0);
  }
  50% {
    transform: rotate(-5deg) translateY(0);
  }
  to {
    transform: rotate(4deg) translateY(0);
  }
}

@media (prefers-reduced-motion: no-preference) {
  .logo.motoko {
    animation: logo-swim 5s ease-in-out infinite;
  }

  .logo.vite {
    animation: logo-swim 5s ease-in-out infinite;
  }

  .logo.discord {
    animation: logo-swim 5s ease-in-out infinite;
  }
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 2rem;
}

.titles {
  text-align: center;
}

.greetingLetters{
  color: darksalmon;
}

.initialLetters{
  color: darkslateblue;
}

.middleLetters{
  color: darkmagenta;
}

.finalLetters{
  color: aqua;
}

.versionLetters{
  color:bisque;
}

.itemsContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.imagesContainer {
  width: 25%;
}

.instructionsNotes{
  background-color: black;
  opacity: 80%;
  color: antiquewhite;
  font-size: medium;
  margin: 2%;
  margin-top: 0;
  padding: 2%;
  border-radius: 5%;
}

.warningMessage {
  margin: 0;
  text-align: center;
  color: red !important;
}

.container {
  height: 100%;
  width: 40%;
  background-color: black;
  margin: 0;
  border-radius: 1rem;
  padding: 1rem;
  -webkit-box-shadow: 7px 7px 5px 0px rgba(50, 50, 50, 0.75);
  -moz-box-shadow: 7px 7px 5px 0px rgba(50, 50, 50, 0.75);
  box-shadow: 7px 7px 5px 0px rgba(50, 50, 50, 0.75);
}

.wrapper {
  display: grid;
  height: 100%;
  width: 100%;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(6, 1fr);
  gap: 10px;

}

.screen {
  grid-column: 1 / -1;
  color: white;
  text-align: right;
  padding-top: 20px;
  font-size: 3rem;
  overflow: hidden;
}

.btn {
  display: grid;
  place-content: center;
  background-color: rgb(54, 52, 52);
  border-radius: 50%;
  color: white;
  cursor: pointer;
  font-weight: bold;
}

.btn:hover {
  background-color: gray;
}

.light-gray {
  background-color: gray;
  color: black;
}

.light-gray:hover {
  background-color: white;
}

.orange {
  background-color: orange;
}

.orange:hover {
  background-color: white;
  color: orange;
}

.zero {
  grid-column: 1 / span 2;
  border-radius: 25px;
  place-content: unset;
  align-items: center;
  padding-left: 2rem;
}